# Python Bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# IDE / Editor files
.vscode/
.idea/

#dont add build files to git
build/
dist/
# Do not upload user data
*.csv
# Dont upload so many images
#Images/
#*.png
#*.jpg
#*.jpeg